/*--------------------layout--------------------*/
body {background: #000}
#contents {}
#section1 {}
#section2 {}
#section3 {}
#section4 {}
#section5 {}
#section6 {}

/*--------------------container--------------------*/
.container {width: 95vw; margin: 0 auto; position: relative; background: rgba(0,0,0,0.3);}

/*--------------------row--------------------*/
.row {padding: 0 2vw;}

/*--------------------line--------------------*/
.line {border-top: .4vw solid #EEE3C1; border-bottom: .4vw solid #EEE3C1;}











/*--------------------sec1--------------------*/
#section1 .container {position: relative;}
.text-wrap {position: relative; }
.text-wrap .top-menu {text-align: right;}
.text-wrap .top-menu li {display: inline;}
.text-wrap .top-menu a {color:#EEE3C1; padding: 3vw 0 1vw 1vw; display: inline-block; font-size: 1.5vw; font-family: 'Lato'; font-weight: normal;}
.text-wrap h1 {
    position: relative;
    text-align: right;
    color:#ca0813; font-family: 'Orbitron', sans-serif; font-weight: 900; 
    letter-spacing: -1.3vw;
}
.text-wrap h1:before {
    content: '';
    height: .5vw; background: #EEE3C1;
    position: absolute; left: 0; top: 1vw;
}
.text-wrap h1:after {
    content: '';
    height: .5vw; background: #EEE3C1;
    position: absolute; left: 0; bottom: 1.3vw;
}
.text-wrap h1 .mail {
    display: block; color:#EEE3C1; font-size: 2vw; 
    letter-spacing: 0; line-height: 2vw; position: absolute; right: 0; top: 3vw;
    white-space: nowrap;
}
.text-wrap h1 .mail:after {
    content: '';
    width: 100%; height: 120%; background: #000;
    position: absolute; left: 0; top: 0;
}
.text-wrap h1 .mail a {color:#EEE3C1;}

.text-wrap h1 .svgWrap {
    font-family: 'Orbitron', sans-serif;
    width: 100% !important; 
}
.text-wrap h1 .aniText {
    font-size: 25vw; line-height: 20vw;
    fill: #ca0813;
    stroke: #365fa0;
    stroke-width: 0;
}

@keyframes stroke {
    0%   {
        fill: rgba(210, 0, 9, 0); stroke: #ca0813;
        stroke-dashoffset: 25%; 
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: rgba(210, 0, 9, 0); stroke: #ca0813;
    }
    80% {
        fill: rgba(210, 0, 9, 0); stroke: #ca0813;
        stroke-width: 1;
    }
    100% {
        fill: #ca0813; stroke: rgba(210, 0, 9, 0);
        stroke-dashoffset: -25%; 
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}


/* sec1 Animation */
.text-wrap h1:before      {width: 0; transition: width 0.6s linear;}
.text-wrap h1:after       {width: 0; transition: width 0.6s linear;}
.text-wrap h1 .mail:after {width: 100%; transition: width 0.6s 0.5s cubic-bezier(0, 0, 0, 1.01);}
.text-wrap h1 .aniText    {fill: rgba(210, 0, 9, 0)}

#section1.show .text-wrap h1:before      {width: 100%;}
#section1.show .text-wrap h1:after       {width: 100%;}
#section1.show .text-wrap h1 .mail:after {width: 0%;}
#section1.show .text-wrap h1 .aniText    {animation: stroke 5s 1.0s 1 forwards;}











/*--------------------sec2--------------------*/
.sec2 {margin: 2vw 0;}
.sec2 .phone-wrap {overflow: hidden;}
.sec2 .phone-wrap > div {float: left; position: relative;
    width: 32.3%; margin-right: 1%;
}
.sec2 .phone-wrap > div:last-child{margin-right: 0;}
.sec2 .phone-wrap > div img {width: 100%;}

.sec2 .phone-wrap > div .box  {position: absolute; width: 25.8vw; height: 45.6vw; background:#fc00004b;}
.sec2 .phone-wrap > div .box1 {left: 1.8vw; top: 6.6vw;}
.sec2 .phone-wrap > div .box2 {left: 1.8vw; top: 6.6vw;}
.sec2 .phone-wrap > div .box3 {left: 1.8vw; top: 6.6vw;}

/* state-bar */
.state-bar              {overflow: hidden; height: 2vw; margin-right: .3.9vw; padding: .6vw .4vw 0 .5vw; color: #EEE3C1; font-size: 1vw;  box-sizing: border-box;}
.state-bar > div        {float: left; margin-right: .5vw;}
.state-bar .connection  {font-size: 0.7vw; line-height: 1.1vw;}
.state-bar .wifi        {font-size: 0.9vw; line-height: 1.1vw;}
.state-bar .clock-box   {font-size: 1.1vw; line-height: 0.9vw; margin: .1vw 4.9vw 0 4.6vw;}
.state-bar .lock        {font-size:   1vw; margin-top: -.1vw; }
.state-bar .location    {font-size: 1vw; margin-top: -.1vw;}
.state-bar .bluetooth   {font-size: 1.2vw; margin-top: -.2vw;}
.state-bar .battery     {font-size: 1.5vw; margin-top: -.4vw; margin-right: 0;}







/*--------------------sec3--------------------*/
.sec3 {overflow: hidden; margin: 0 auto; padding: 2vw 0; white-space: normal;}
.sec3 > div         {float: left; box-sizing: border-box;}
.sec3 .sec3_left    {padding-top: 4vw;  width: 13%;}
.sec3 .sec3_left a  {font: bold 2.5vw 'Orbitron'; line-height: 1; color:#ca0813;}

.sec3 .sec3_right{
  width: 83%; margin-left: 3%;
  font: bold 2.5vw 'Orbitron'; line-height: 1; text-align: justify; letter-spacing: .7; word-spacing: .7; color:#EEE3C1;   }
.sec3 .sec3_left_mo {display: none; }
.sec3 .sec3_left_mo a{color:#ca0813; text-align: left; font-weight: 600; font-family: 'Orbitron One', cursive;}









/*--------------------sec4--------------------*/
.sec4 {padding:1vw 0 10vw 0;}
.sec4 h4 {text-align: center; transform: translateX(-2.7vw); transform-origin: right;  font: bold 19.5vw/1 'Orbitron', sans-serif; color: #EEE3C1;
    -webkit-animation: text-shadow .75s linear infinite;
            animation: text-shadow .75s linear infinite;
  }
  
  @-webkit-keyframes text-shadow {
    from, 19.9% {
      text-shadow: 0 0 #ca0813, .1vw .1vw #ca0813, .2vw .2vw #ca0813, .3vw .3vw #ca0813, .4vw .4vw #ca0813, .5vw .5vw #ca0813, .5vw .5vw #FD138A, .6vw .6vw #FD138A, .7vw .7vw #FD138A, .8vw .8vw #FD138A, .9vw .9vw #FD138A, 1vw 1vw #FD138A, 1vw 1vw #fddb8f, 1.1vw 1.1vw #fddb8f, 1.2vw 1.2vw #fddb8f, 1.3vw 1.3vw #fddb8f, 1.4vw 1.4vw #fddb8f, 1.5vw 1.5vw #fddb8f, 1.5vw 1.5vw #F40000, 1.6vw 1.6vw #F40000, 1.7vw 1.7vw #F40000, 1.8vw 1.8vw #F40000, 1.9vw 1.9vw #F40000, 2vw 2vw #F40000, 2vw 2vw #28D58F, 2.1vw 2.1vw #28D58F, 2.2vw 2.2vw #28D58F, 2.3vw 2.3vw #28D58F, 2.4vw 2.4vw #28D58F, 2.5vw 2.5vw #28D58F, 2.5vw 2.5vw #ca0813, 2.6vw 2.6vw #ca0813, 2.7vw 2.7vw #ca0813, 2.8vw 2.8vw #ca0813, 2.9vw 2.9vw #ca0813, 3vw 3vw #ca0813, 3vw 3vw #FD138A, 3.1vw 3.1vw #FD138A, 3.2vw 3.2vw #FD138A, 3.3vw 3.3vw #FD138A, 3.4vw 3.4vw #FD138A, 3.5vw 3.5vw #FD138A, 3.5vw 3.5vw #fddb8f, 3.6vw 3.6vw #fddb8f, 3.7vw 3.7vw #fddb8f, 3.8vw 3.8vw #fddb8f, 3.9vw 3.9vw #fddb8f, 4vw 4vw #fddb8f, 4vw 4vw #F40000, 4.1vw 4.1vw #F40000, 4.2vw 4.2vw #F40000, 4.3vw 4.3vw #F40000, 4.4vw 4.4vw #F40000, 4.5vw 4.5vw #F40000, 4.5vw 4.5vw #28D58F, 4.6vw 4.6vw #28D58F, 4.7vw 4.7vw #28D58F, 4.8vw 4.8vw #28D58F, 4.9vw 4.9vw #28D58F, 5vw 5vw #28D58F;
    }
    20%, 39.9% {
      text-shadow: 0 0 #28D58F, .1vw .1vw #28D58F, .2vw .2vw #28D58F, .3vw .3vw #28D58F, .4vw .4vw #28D58F, .5vw .5vw #28D58F, .5vw .5vw #ca0813, .6vw .6vw #ca0813, .7vw .7vw #ca0813, .8vw .8vw #ca0813, .9vw .9vw #ca0813, 1vw 1vw #ca0813, 1vw 1vw #FD138A, 1.1vw 1.1vw #FD138A, 1.2vw 1.2vw #FD138A, 1.3vw 1.3vw #FD138A, 1.4vw 1.4vw #FD138A, 1.5vw 1.5vw #FD138A, 1.5vw 1.5vw #fddb8f, 1.6vw 1.6vw #fddb8f, 1.7vw 1.7vw #fddb8f, 1.8vw 1.8vw #fddb8f, 1.9vw 1.9vw #fddb8f, 2vw 2vw #fddb8f, 2vw 2vw #F40000, 2.1vw 2.1vw #F40000, 2.2vw 2.2vw #F40000, 2.3vw 2.3vw #F40000, 2.4vw 2.4vw #F40000, 2.5vw 2.5vw #F40000, 2.5vw 2.5vw #28D58F, 2.6vw 2.6vw #28D58F, 2.7vw 2.7vw #28D58F, 2.8vw 2.8vw #28D58F, 2.9vw 2.9vw #28D58F, 3vw 3vw #28D58F, 3vw 3vw #ca0813, 3.1vw 3.1vw #ca0813, 3.2vw 3.2vw #ca0813, 3.3vw 3.3vw #ca0813, 3.4vw 3.4vw #ca0813, 3.5vw 3.5vw #ca0813, 3.5vw 3.5vw #FD138A, 3.6vw 3.6vw #FD138A, 3.7vw 3.7vw #FD138A, 3.8vw 3.8vw #FD138A, 3.9vw 3.9vw #FD138A, 4vw 4vw #FD138A, 4vw 4vw #fddb8f, 4.1vw 4.1vw #fddb8f, 4.2vw 4.2vw #fddb8f, 4.3vw 4.3vw #fddb8f, 4.4vw 4.4vw #fddb8f, 4.5vw 4.5vw #fddb8f, 4.5vw 4.5vw #F40000, 4.6vw 4.6vw #F40000, 4.7vw 4.7vw #F40000, 4.8vw 4.8vw #F40000, 4.9vw 4.9vw #F40000, 5vw 5vw #F40000;
    }
    40%, 59.9% {
      text-shadow: 0 0 #F40000, .1vw .1vw #F40000, .2vw .2vw #F40000, .3vw .3vw #F40000, .4vw .4vw #F40000, .5vw .5vw #F40000, .5vw .5vw #28D58F, .6vw .6vw #28D58F, .7vw .7vw #28D58F, .8vw .8vw #28D58F, .9vw .9vw #28D58F, 1vw 1vw #28D58F, 1vw 1vw #ca0813, 1.1vw 1.1vw #ca0813, 1.2vw 1.2vw #ca0813, 1.3vw 1.3vw #ca0813, 1.4vw 1.4vw #ca0813, 1.5vw 1.5vw #ca0813, 1.5vw 1.5vw #FD138A, 1.6vw 1.6vw #FD138A, 1.7vw 1.7vw #FD138A, 1.8vw 1.8vw #FD138A, 1.9vw 1.9vw #FD138A, 2vw 2vw #FD138A, 2vw 2vw #fddb8f, 2.1vw 2.1vw #fddb8f, 2.2vw 2.2vw #fddb8f, 2.3vw 2.3vw #fddb8f, 2.4vw 2.4vw #fddb8f, 2.5vw 2.5vw #fddb8f, 2.5vw 2.5vw #F40000, 2.6vw 2.6vw #F40000, 2.7vw 2.7vw #F40000, 2.8vw 2.8vw #F40000, 2.9vw 2.9vw #F40000, 3vw 3vw #F40000, 3vw 3vw #28D58F, 3.1vw 3.1vw #28D58F, 3.2vw 3.2vw #28D58F, 3.3vw 3.3vw #28D58F, 3.4vw 3.4vw #28D58F, 3.5vw 3.5vw #28D58F, 3.5vw 3.5vw #ca0813, 3.6vw 3.6vw #ca0813, 3.7vw 3.7vw #ca0813, 3.8vw 3.8vw #ca0813, 3.9vw 3.9vw #ca0813, 4vw 4vw #ca0813, 4vw 4vw #FD138A, 4.1vw 4.1vw #FD138A, 4.2vw 4.2vw #FD138A, 4.3vw 4.3vw #FD138A, 4.4vw 4.4vw #FD138A, 4.5vw 4.5vw #FD138A, 4.5vw 4.5vw #fddb8f, 4.6vw 4.6vw #fddb8f, 4.7vw 4.7vw #fddb8f, 4.8vw 4.8vw #fddb8f, 4.9vw 4.9vw #fddb8f, 5vw 5vw #fddb8f;
    }
    60%, 79.9% {
      text-shadow: 0 0 #fddb8f, .1vw .1vw #fddb8f, .2vw .2vw #fddb8f, .3vw .3vw #fddb8f, .4vw .4vw #fddb8f, .5vw .5vw #fddb8f, .5vw .5vw #F40000, .6vw .6vw #F40000, .7vw .7vw #F40000, .8vw .8vw #F40000, .9vw .9vw #F40000, 1vw 1vw #F40000, 1vw 1vw #28D58F, 1.1vw 1.1vw #28D58F, 1.2vw 1.2vw #28D58F, 1.3vw 1.3vw #28D58F, 1.4vw 1.4vw #28D58F, 1.5vw 1.5vw #28D58F, 1.5vw 1.5vw #ca0813, 1.6vw 1.6vw #ca0813, 1.7vw 1.7vw #ca0813, 1.8vw 1.8vw #ca0813, 1.9vw 1.9vw #ca0813, 2vw 2vw #ca0813, 2vw 2vw #FD138A, 2.1vw 2.1vw #FD138A, 2.2vw 2.2vw #FD138A, 2.3vw 2.3vw #FD138A, 2.4vw 2.4vw #FD138A, 2.5vw 2.5vw #FD138A, 2.5vw 2.5vw #fddb8f, 2.6vw 2.6vw #fddb8f, 2.7vw 2.7vw #fddb8f, 2.8vw 2.8vw #fddb8f, 2.9vw 2.9vw #fddb8f, 3vw 3vw #fddb8f, 3vw 3vw #F40000, 3.1vw 3.1vw #F40000, 3.2vw 3.2vw #F40000, 3.3vw 3.3vw #F40000, 3.4vw 3.4vw #F40000, 3.5vw 3.5vw #F40000, 3.5vw 3.5vw #28D58F, 3.6vw 3.6vw #28D58F, 3.7vw 3.7vw #28D58F, 3.8vw 3.8vw #28D58F, 3.9vw 3.9vw #28D58F, 4vw 4vw #28D58F, 4vw 4vw #ca0813, 4.1vw 4.1vw #ca0813, 4.2vw 4.2vw #ca0813, 4.3vw 4.3vw #ca0813, 4.4vw 4.4vw #ca0813, 4.5vw 4.5vw #ca0813, 4.5vw 4.5vw #FD138A, 4.6vw 4.6vw #FD138A, 4.7vw 4.7vw #FD138A, 4.8vw 4.8vw #FD138A, 4.9vw 4.9vw #FD138A, 5vw 5vw #FD138A;
    }
    80%, to {
      text-shadow: 0 0 #FD138A, .1vw .1vw #FD138A, .2vw .2vw #FD138A, .3vw .3vw #FD138A, .4vw .4vw #FD138A, .5vw .5vw #FD138A, .5vw .5vw #fddb8f, .6vw .6vw #fddb8f, .7vw .7vw #fddb8f, .8vw .8vw #fddb8f, .9vw .9vw #fddb8f, 1vw 1vw #fddb8f, 1vw 1vw #F40000, 1.1vw 1.1vw #F40000, 1.2vw 1.2vw #F40000, 1.3vw 1.3vw #F40000, 1.4vw 1.4vw #F40000, 1.5vw 1.5vw #F40000, 1.5vw 1.5vw #28D58F, 1.6vw 1.6vw #28D58F, 1.7vw 1.7vw #28D58F, 1.8vw 1.8vw #28D58F, 1.9vw 1.9vw #28D58F, 2vw 2vw #28D58F, 2vw 2vw #ca0813, 2.1vw 2.1vw #ca0813, 2.2vw 2.2vw #ca0813, 2.3vw 2.3vw #ca0813, 2.4vw 2.4vw #ca0813, 2.5vw 2.5vw #ca0813, 2.5vw 2.5vw #FD138A, 2.6vw 2.6vw #FD138A, 2.7vw 2.7vw #FD138A, 2.8vw 2.8vw #FD138A, 2.9vw 2.9vw #FD138A, 3vw 3vw #FD138A, 3vw 3vw #fddb8f, 3.1vw 3.1vw #fddb8f, 3.2vw 3.2vw #fddb8f, 3.3vw 3.3vw #fddb8f, 3.4vw 3.4vw #fddb8f, 3.5vw 3.5vw #fddb8f, 3.5vw 3.5vw #F40000, 3.6vw 3.6vw #F40000, 3.7vw 3.7vw #F40000, 3.8vw 3.8vw #F40000, 3.9vw 3.9vw #F40000, 4vw 4vw #F40000, 4vw 4vw #28D58F, 4.1vw 4.1vw #28D58F, 4.2vw 4.2vw #28D58F, 4.3vw 4.3vw #28D58F, 4.4vw 4.4vw #28D58F, 4.5vw 4.5vw #28D58F, 4.5vw 4.5vw #ca0813, 4.6vw 4.6vw #ca0813, 4.7vw 4.7vw #ca0813, 4.8vw 4.8vw #ca0813, 4.9vw 4.9vw #ca0813, 5vw 5vw #ca0813;
    }
  }
  
  @keyframes text-shadow {
    from, 19.9% {
      text-shadow: 0 0 #ca0813, .1vw .1vw #ca0813, .2vw .2vw #ca0813, .3vw .3vw #ca0813, .4vw .4vw #ca0813, .5vw .5vw #ca0813, .5vw .5vw #FD138A, .6vw .6vw #FD138A, .7vw .7vw #FD138A, .8vw .8vw #FD138A, .9vw .9vw #FD138A, 1vw 1vw #FD138A, 1vw 1vw #fddb8f, 1.1vw 1.1vw #fddb8f, 1.2vw 1.2vw #fddb8f, 1.3vw 1.3vw #fddb8f, 1.4vw 1.4vw #fddb8f, 1.5vw 1.5vw #fddb8f, 1.5vw 1.5vw #F40000, 1.6vw 1.6vw #F40000, 1.7vw 1.7vw #F40000, 1.8vw 1.8vw #F40000, 1.9vw 1.9vw #F40000, 2vw 2vw #F40000, 2vw 2vw #28D58F, 2.1vw 2.1vw #28D58F, 2.2vw 2.2vw #28D58F, 2.3vw 2.3vw #28D58F, 2.4vw 2.4vw #28D58F, 2.5vw 2.5vw #28D58F, 2.5vw 2.5vw #ca0813, 2.6vw 2.6vw #ca0813, 2.7vw 2.7vw #ca0813, 2.8vw 2.8vw #ca0813, 2.9vw 2.9vw #ca0813, 3vw 3vw #ca0813, 3vw 3vw #FD138A, 3.1vw 3.1vw #FD138A, 3.2vw 3.2vw #FD138A, 3.3vw 3.3vw #FD138A, 3.4vw 3.4vw #FD138A, 3.5vw 3.5vw #FD138A, 3.5vw 3.5vw #fddb8f, 3.6vw 3.6vw #fddb8f, 3.7vw 3.7vw #fddb8f, 3.8vw 3.8vw #fddb8f, 3.9vw 3.9vw #fddb8f, 4vw 4vw #fddb8f, 4vw 4vw #F40000, 4.1vw 4.1vw #F40000, 4.2vw 4.2vw #F40000, 4.3vw 4.3vw #F40000, 4.4vw 4.4vw #F40000, 4.5vw 4.5vw #F40000, 4.5vw 4.5vw #28D58F, 4.6vw 4.6vw #28D58F, 4.7vw 4.7vw #28D58F, 4.8vw 4.8vw #28D58F, 4.9vw 4.9vw #28D58F, 5vw 5vw #28D58F;
    }
    20%, 39.9% {
      text-shadow: 0 0 #28D58F, .1vw .1vw #28D58F, .2vw .2vw #28D58F, .3vw .3vw #28D58F, .4vw .4vw #28D58F, .5vw .5vw #28D58F, .5vw .5vw #ca0813, .6vw .6vw #ca0813, .7vw .7vw #ca0813, .8vw .8vw #ca0813, .9vw .9vw #ca0813, 1vw 1vw #ca0813, 1vw 1vw #FD138A, 1.1vw 1.1vw #FD138A, 1.2vw 1.2vw #FD138A, 1.3vw 1.3vw #FD138A, 1.4vw 1.4vw #FD138A, 1.5vw 1.5vw #FD138A, 1.5vw 1.5vw #fddb8f, 1.6vw 1.6vw #fddb8f, 1.7vw 1.7vw #fddb8f, 1.8vw 1.8vw #fddb8f, 1.9vw 1.9vw #fddb8f, 2vw 2vw #fddb8f, 2vw 2vw #F40000, 2.1vw 2.1vw #F40000, 2.2vw 2.2vw #F40000, 2.3vw 2.3vw #F40000, 2.4vw 2.4vw #F40000, 2.5vw 2.5vw #F40000, 2.5vw 2.5vw #28D58F, 2.6vw 2.6vw #28D58F, 2.7vw 2.7vw #28D58F, 2.8vw 2.8vw #28D58F, 2.9vw 2.9vw #28D58F, 3vw 3vw #28D58F, 3vw 3vw #ca0813, 3.1vw 3.1vw #ca0813, 3.2vw 3.2vw #ca0813, 3.3vw 3.3vw #ca0813, 3.4vw 3.4vw #ca0813, 3.5vw 3.5vw #ca0813, 3.5vw 3.5vw #FD138A, 3.6vw 3.6vw #FD138A, 3.7vw 3.7vw #FD138A, 3.8vw 3.8vw #FD138A, 3.9vw 3.9vw #FD138A, 4vw 4vw #FD138A, 4vw 4vw #fddb8f, 4.1vw 4.1vw #fddb8f, 4.2vw 4.2vw #fddb8f, 4.3vw 4.3vw #fddb8f, 4.4vw 4.4vw #fddb8f, 4.5vw 4.5vw #fddb8f, 4.5vw 4.5vw #F40000, 4.6vw 4.6vw #F40000, 4.7vw 4.7vw #F40000, 4.8vw 4.8vw #F40000, 4.9vw 4.9vw #F40000, 5vw 5vw #F40000;
    }
    40%, 59.9% {
      text-shadow: 0 0 #F40000, .1vw .1vw #F40000, .2vw .2vw #F40000, .3vw .3vw #F40000, .4vw .4vw #F40000, .5vw .5vw #F40000, .5vw .5vw #28D58F, .6vw .6vw #28D58F, .7vw .7vw #28D58F, .8vw .8vw #28D58F, .9vw .9vw #28D58F, 1vw 1vw #28D58F, 1vw 1vw #ca0813, 1.1vw 1.1vw #ca0813, 1.2vw 1.2vw #ca0813, 1.3vw 1.3vw #ca0813, 1.4vw 1.4vw #ca0813, 1.5vw 1.5vw #ca0813, 1.5vw 1.5vw #FD138A, 1.6vw 1.6vw #FD138A, 1.7vw 1.7vw #FD138A, 1.8vw 1.8vw #FD138A, 1.9vw 1.9vw #FD138A, 2vw 2vw #FD138A, 2vw 2vw #fddb8f, 2.1vw 2.1vw #fddb8f, 2.2vw 2.2vw #fddb8f, 2.3vw 2.3vw #fddb8f, 2.4vw 2.4vw #fddb8f, 2.5vw 2.5vw #fddb8f, 2.5vw 2.5vw #F40000, 2.6vw 2.6vw #F40000, 2.7vw 2.7vw #F40000, 2.8vw 2.8vw #F40000, 2.9vw 2.9vw #F40000, 3vw 3vw #F40000, 3vw 3vw #28D58F, 3.1vw 3.1vw #28D58F, 3.2vw 3.2vw #28D58F, 3.3vw 3.3vw #28D58F, 3.4vw 3.4vw #28D58F, 3.5vw 3.5vw #28D58F, 3.5vw 3.5vw #ca0813, 3.6vw 3.6vw #ca0813, 3.7vw 3.7vw #ca0813, 3.8vw 3.8vw #ca0813, 3.9vw 3.9vw #ca0813, 4vw 4vw #ca0813, 4vw 4vw #FD138A, 4.1vw 4.1vw #FD138A, 4.2vw 4.2vw #FD138A, 4.3vw 4.3vw #FD138A, 4.4vw 4.4vw #FD138A, 4.5vw 4.5vw #FD138A, 4.5vw 4.5vw #fddb8f, 4.6vw 4.6vw #fddb8f, 4.7vw 4.7vw #fddb8f, 4.8vw 4.8vw #fddb8f, 4.9vw 4.9vw #fddb8f, 5vw 5vw #fddb8f;
    }
    60%, 79.9% {
      text-shadow: 0 0 #fddb8f, .1vw .1vw #fddb8f, .2vw .2vw #fddb8f, .3vw .3vw #fddb8f, .4vw .4vw #fddb8f, .5vw .5vw #fddb8f, .5vw .5vw #F40000, .6vw .6vw #F40000, .7vw .7vw #F40000, .8vw .8vw #F40000, .9vw .9vw #F40000, 1vw 1vw #F40000, 1vw 1vw #28D58F, 1.1vw 1.1vw #28D58F, 1.2vw 1.2vw #28D58F, 1.3vw 1.3vw #28D58F, 1.4vw 1.4vw #28D58F, 1.5vw 1.5vw #28D58F, 1.5vw 1.5vw #ca0813, 1.6vw 1.6vw #ca0813, 1.7vw 1.7vw #ca0813, 1.8vw 1.8vw #ca0813, 1.9vw 1.9vw #ca0813, 2vw 2vw #ca0813, 2vw 2vw #FD138A, 2.1vw 2.1vw #FD138A, 2.2vw 2.2vw #FD138A, 2.3vw 2.3vw #FD138A, 2.4vw 2.4vw #FD138A, 2.5vw 2.5vw #FD138A, 2.5vw 2.5vw #fddb8f, 2.6vw 2.6vw #fddb8f, 2.7vw 2.7vw #fddb8f, 2.8vw 2.8vw #fddb8f, 2.9vw 2.9vw #fddb8f, 3vw 3vw #fddb8f, 3vw 3vw #F40000, 3.1vw 3.1vw #F40000, 3.2vw 3.2vw #F40000, 3.3vw 3.3vw #F40000, 3.4vw 3.4vw #F40000, 3.5vw 3.5vw #F40000, 3.5vw 3.5vw #28D58F, 3.6vw 3.6vw #28D58F, 3.7vw 3.7vw #28D58F, 3.8vw 3.8vw #28D58F, 3.9vw 3.9vw #28D58F, 4vw 4vw #28D58F, 4vw 4vw #ca0813, 4.1vw 4.1vw #ca0813, 4.2vw 4.2vw #ca0813, 4.3vw 4.3vw #ca0813, 4.4vw 4.4vw #ca0813, 4.5vw 4.5vw #ca0813, 4.5vw 4.5vw #FD138A, 4.6vw 4.6vw #FD138A, 4.7vw 4.7vw #FD138A, 4.8vw 4.8vw #FD138A, 4.9vw 4.9vw #FD138A, 5vw 5vw #FD138A;
    }
    80%, to {
      text-shadow: 0 0 #FD138A, .1vw .1vw #FD138A, .2vw .2vw #FD138A, .3vw .3vw #FD138A, .4vw .4vw #FD138A, .5vw .5vw #FD138A, .5vw .5vw #fddb8f, .6vw .6vw #fddb8f, .7vw .7vw #fddb8f, .8vw .8vw #fddb8f, .9vw .9vw #fddb8f, 1vw 1vw #fddb8f, 1vw 1vw #F40000, 1.1vw 1.1vw #F40000, 1.2vw 1.2vw #F40000, 1.3vw 1.3vw #F40000, 1.4vw 1.4vw #F40000, 1.5vw 1.5vw #F40000, 1.5vw 1.5vw #28D58F, 1.6vw 1.6vw #28D58F, 1.7vw 1.7vw #28D58F, 1.8vw 1.8vw #28D58F, 1.9vw 1.9vw #28D58F, 2vw 2vw #28D58F, 2vw 2vw #ca0813, 2.1vw 2.1vw #ca0813, 2.2vw 2.2vw #ca0813, 2.3vw 2.3vw #ca0813, 2.4vw 2.4vw #ca0813, 2.5vw 2.5vw #ca0813, 2.5vw 2.5vw #FD138A, 2.6vw 2.6vw #FD138A, 2.7vw 2.7vw #FD138A, 2.8vw 2.8vw #FD138A, 2.9vw 2.9vw #FD138A, 3vw 3vw #FD138A, 3vw 3vw #fddb8f, 3.1vw 3.1vw #fddb8f, 3.2vw 3.2vw #fddb8f, 3.3vw 3.3vw #fddb8f, 3.4vw 3.4vw #fddb8f, 3.5vw 3.5vw #fddb8f, 3.5vw 3.5vw #F40000, 3.6vw 3.6vw #F40000, 3.7vw 3.7vw #F40000, 3.8vw 3.8vw #F40000, 3.9vw 3.9vw #F40000, 4vw 4vw #F40000, 4vw 4vw #28D58F, 4.1vw 4.1vw #28D58F, 4.2vw 4.2vw #28D58F, 4.3vw 4.3vw #28D58F, 4.4vw 4.4vw #28D58F, 4.5vw 4.5vw #28D58F, 4.5vw 4.5vw #ca0813, 4.6vw 4.6vw #ca0813, 4.7vw 4.7vw #ca0813, 4.8vw 4.8vw #ca0813, 4.9vw 4.9vw #ca0813, 5vw 5vw #ca0813;
    }
  }

 


/*--------------------sec5--------------------*/
.sec5  {}
.sec5 h3 {font: 900 20vw/1 'Sans'; line-height: 0.9; color:#ca0813;}
.sec5 .subtitle { font: bold 3vw/1 'Orbitron';  color:#ca0813; text-align: center; letter-spacing: -.1vw;}
.sec5  article {overflow: hidden; width: 100%; height: auto; padding: 3vw 0 3vw 0;}
.sec5 .caption {margin: 0; text-align:center; font: bold 2.5vw/1 'Orbitron'; letter-spacing: -.09vw; word-spacing: -.1vw; color:#EEE3C1;}
.sec5 .imgs { }
.sec5 .imgs .img {}


.sec5 .port1 {}
.sec5 .port1 .text-wrap {float: left; width: 34%;  }
.sec5 .port1 h3 {}
.sec5 .port1 .caption {text-align:justify;}
.sec5 .port1 .imgs  {float: right; margin-left: 2%; width: 63%;} 
.sec5 .port1 .imgs .img {display: inline-block; width: 100%; }

.sec5 .port2 { }
.sec5 .port2 .text-wrap {float: right; width: 31%;  }
.sec5 .port2 h3{display: block; text-align:center;}
.sec5 .port2 .caption {text-align:justify;}
.sec5 .port2 .imgs  {display: inline-block; width:68%;}
.sec5 .port2 .imgs .img { margin-right: 0.7%;}
 .sec5 .port2 .imgs .port2_img2 {width: 60%;}
.sec5 .port2 .imgs .port2_img4 {width: 37%; margin-right: 0;}

.sec5 .port3 { }
.sec5 .port3 h3 {text-align:center;}
.sec5 .port3 .caption {margin-bottom: 2vw;}
.sec5 .port3 .imgs {width: 100%; height:6vw; margin-bottom: 2vw;}
.sec5 .port3 .imgs a {display: inline-block; margin: 0;  width: 9.7%; height:100%;}
.sec5 .port3 .imgs .img {width: 100%; height: 100%; filter:grayscale(60); ; transition: all 0.2s ease;}
.sec5 .port3 .imgs a:hover .img{filter: none;}
.sec5 .port3 .imgs  {}
.sec5 .caption .check_li { width: 100%; }
.sec5 .check_li li {overflow: hidden; text-align:center; width: 100%; 
border-top: .2vw solid #EEE3C1; border-bottom: .2vw solid #EEE3C1; margin-top: -.2vw;}
.sec5 .check_li li:hover {background-color: #ca0813;}
.sec5 .check_li li:first-child {background-color: #EEE3C1;}
.sec5 .check_li li:first-child a{font: bold 2vw/1 'Orbitron'; color: #0a0a0a; }
.sec5 .check_li li a {float: left; width: 100%; font: normal 2vw/1 'Orbitron'; color:#EEE3C1;}






/*--------------------footer--------------------*/
.footer {}
.footer .footer_ani {
  height: 40vw;  background: rgba(255,255,255,0.3);
  text-align: center; font: bold 3vw 'Orbitron'; color:#EEE3C1;
  line-height: 40vw;
}
.footer .link1 {}

.footer .link1 ul {margin: 10vw 0 1vw 0;}
.link1 > ul > li.link1_l {display: inline-block; width: 33%;}
.link1 > ul > li li {text-align: left; font: bold 3vw/1 'Orbitron'; color:#EEE3C1;}
.link1 > ul > li a {display: inline-block; text-align: left; font: bold 3vw/1 'Orbitron';  color:#ca0813; box-sizing: border-box;}
.footer .link2{font: bold 3vw 'Orbitron';}
.footer .link2 .link2_l {display: inline-block; width: 65%; text-align: left; color:#EEE3C1;}
.footer .link2 .link2_r {display: inline-block; width: 29%; text-align: right; color:#ca0813; box-sizing: border-box;}
.footer .link2 .link2_r a{display: inline-block; width: 100%; padding-right: 10vw; color:#ca0813;
  transition: padding 0.9s ease; box-sizing: border-box;
/*background-color: #fff;  */
}
.footer .link2 .link2_r:hover a{padding-right: 0;}
 
















/*--------------------mediaquery--------------------*/
@media (max-width: 1410px){
}

@media (max-width: 600px){
  .text-wrap .top-menu a {font-size: 1.4vw; padding: 1.2vw 0 .8vw 1vw;}
  .text-wrap h1 .mail {top: 2.5vw;}
}



